@page
@model IndexModel
@{
    ViewData["Title"] = "Favorite Music Video";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" defer></script>
</head>
<body>
    <header class="headerr" id="animatedHeader">🎵 One Of My Favorite Songs 🎵</header>

    <main>
        <div class="video-container">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/gCYcHz2k5x0?si=3XuAioXX0AV8f81R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </main>
</body>
</html>
